{{!-- Citation: Started off with the template provided, which most of it is
                otherwise, All My Work 
--}}

<h1>NNN Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each customer.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! Print values for each row of data returned by the SQL statement returned from app.js }}
        {{#each customer}}
        <tr>
            <td>{{this.NAME}}</td>
            <td>{{this.PHONE_NUMBER}}</td>
            <td>{{this.ADDRESS}}</td>
            <td>{{this.EMAIL}}</td>

            {{!-- Took out template delete here since our delete is on Food Items and Orders pages --}}
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Took out template INSERT since this is on Food Items --}}
{{!-- Took out template UPDATE since this is on Food Items and Orders --}}