<h1>NNN Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each order.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each order}}
        <tr>
            {{!-- Google AI helped with formatting the date in a more readable manner. Directed me to the SQL script directly to change format. --}}
            <td>{{this.ORDER_ID}}</td>
            <td>{{this.FOOD_ID}}</td>
            <td>{{this.ORDER_DATE}}</td>
            <td>{{this.CUSTOMER_NAME}}</td>
            <td>{{this.RESTAURANT_NAME}}</td>
            <td>{{this.FOOD_NAME}}</td>
            <td>{{this.ITEM_PRICE}}</td>
            <td>{{this.QUANTITY}}</td>

            {{! DELETE form }}
            <form action='delete_order_food' method="POST">
                <input type='hidden' name='delete_order_id' value="{{this.ORDER_ID}}"/>
                <input type='hidden' name='delete_food_id' value="{{this.FOOD_ID}}"/>
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Removed CREATE, do not need for M:M and already have on Food Items page --}}

{{! UPDATE form }}
<h2>Update an Orders Details</h2>
<form action='update_food_items_orders' method="POST">
    <label for='update_order_id_food_id'>Order Number - Food Item: </label>
    <select name='update_order_id_food_id' id='update_order_id_food_id' required>
        <option value='' disabled selected>Order Number - Food Item</option>
        {{#each orders}}
        <option value="{{this.ORDER_ID}}|{{this.FOOD_ITEM_ID}}" required>
            {{this.ORDER_ID}} - {{this.FOOD_ITEM_ID}}
        </option>
        {{/each}}
    </select>

    <label for='update_food_item_order_quantity'>Quantity: </label>
    <input type='number' name='update_food_item_order_quantity' id='update_food_item_order_quantity' min='1' />

    <input type='submit' />
</form>