<h1>NNN Food Items</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each food.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each food}}
        <tr>
            <td>{{this.RESTAURANT_NAME}}</td>
            <td>{{this.FOOD_NAME}}</td>
            <td>{{this.PRICE}}</td>

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_food_id' value='{{this.RESTAURANT_ID}}' />
                <input type='hidden' name='delete_food_name' value='{{this.FOOD_NAME}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a New Food Item</h2>
<form class='cuForm' id='create_food_item_form'>
    <label for='create_food_item_name'>Name: </label>
    <input type='text' name='create_food_item_name' id='create_food_item_name' required />

    <label for='create_food_item_price'>Price: </label>
    <input type='text' name='create_food_item_price' id='create_food_item_price'/>

    <label for='create_food_item_restaurant'>Restaurant: </label>
    <select name='create_food_item_restaurant' id='create_food_item_restaurant'>
        <option value='NULL' selected>Select a Restaurant</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each restaurant}}
        <option value='{{this.RESTAURANT_ID}}' required>{{this.NAME}}</option>
        {{/each}}
    </select>
    <input type='submit' />
</form>

{{! UPDATE form }}
{{! FOOD_ITEM needs the following fields in order to update: FOOD_ITEM_ID, RESTAURANT_ID, NAME (name of the food), and a PRICE }}
<h2>Update a Food Item</h2>
<form class='cuForm' id='update_food_form'>
    <label for='update_food_id'>Food to Update: </label>
    <select name='update_food_id' id='update_food_id' required>
        <option value='' disabled selected>Select a Food Item</option>
        {{#each foods}}
        <option value='{{this.FOOD_ITEM_ID}}' required>
            {{this.NAME}}
        </option>
        {{/each}}
    </select>

    <label for='update_food_item_restaurant'>Restaurant: </label>
    <select name='update_food_item_restaurant' id='update_food_item_restaurant'>
        <option value='NULL' disabled selected>Select a Restaurant</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each restaurant}}
        <option value='{{this.RESTAURANT_ID}}' required>
            {{this.NAME}} {{! The FOOD_ITEM table has restaurants stored as a numerical foreign key so return the ID, not the name for updating the table }}
        </option>
        {{/each}}
    </select>

    <label for='update_food_item_price'>Price: </label>
    <input type='number' name='update_food_item_price' id='update_food_item_price' min='0' />

    <input type='submit' />
</form>