<h1>NNN Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each order.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each order}}
        <tr>
            <td>{{this.ORDER_ID}}</td>
            <td>{{this.ORDER_DATE}}</td>
            <td>{{this.CUSTOMER_NAME}}</td>
            <td>{{this.RESTAURANT_NAME}}</td>
            <td>{{this.FOOD_NAME}}</td>
            <td>{{this.ITEM_PRICE}}</td>

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_person_id' value='{{this.id}}' />
                <input type='hidden' name='delete_person_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Removed CREATE, do not need for M:M and already have on Food Items page --}}

{{! UPDATE form }}
<h2>Update an Orders Details</h2>
<form class='cuForm' id='update_order_id_form'>
    <label for='update_order_id'>Order Number to Update: </label>
    <select name='update_order_id' id='update_order_id' required>
        <option value='' disabled selected>Order Number</option>
        {{#each orders}}
        <option value='{{this.ORDER_ID}}' required>
            {{this.ORDER_ID}}
        </option>
        {{/each}}
    </select>

    <label for='update_food_item_id'>Food Item to Update: </label>
    <select name='update_food_item_id' id='update_food_item_id'>
        <option value='' disabled selected>Food Item</option>
        {{#each orders}}
        <option value='{{this.FOOD_ITEM_ID}}' required>
            {{this.NAME}}
        </option>
        {{/each}}
    </select>

    {{!-- In order to be able to update something for the M:M we have, maybe we should add a field to be updated
            our primary key in the intersection table is the order id plus the food item id, so would need
            something else to update as we wouldn't be updating a PK, but rather other attributes.
            Maybe you can add this to our DDL, and update the Step 3 draft to include this change?
     --}}
    <label for='update_order_food_item_quantity'>Quantity: </label>
    <input type='number' name='update_order_food_item_quantity' id='update_order_food_item_quantity' min='0' />

    <input type='submit' />
</form>